<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue购物车</title>
    <style>
        table, tr, td, th {
            border: 1px solid #000;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<div id="cart">
    <button id="btn-add" @click="addCart">添加商品</button>
    <table id="tbl">
        <thead>
        <tr>
            <th></th>
            <th>商品图片</th>
            <th>商品信息</th>
            <th>赠送</th>
            <th>商品金额</th>
            <th>商品数量</th>
            <th>总金额</th>
            <th>编辑</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="product in productList">
            <td><input type="checkbox" v-on:click="countTotalPrice(product)"></td>
            <td><img v-bind:src="product.productImg" alt="" width="100"></td>
            <td v-text="product.productName"></td>
            <td>
                <ul>
                    <li v-for="part in product.parts">打火机</li>
                    <li v-text="part.partsName"></li>
                </ul>
            </td>
            <td v-text="product.productPrice"></td>
            <td>
                <button @click="minusProduct(product)">-</button>
                <input type="text" v-bind:value="product.productQuentity">
                <button @click="addProduct(product)">+</button>
            </td>
            <td v-text="product.productPrice*product.productQuentity"></td>
            <td><a href="#">删除</a></td>

        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="6">
                <input type="checkbox">全选
            </td>
            <td>
                总计{{productList.totalPrice}}
            </td>
            <td>
                <button>结账</button>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
<script src="javascript/vue.min.js"></script>
<script src="javascript/axios.js"></script>
<script>
    var vm = new Vue({
        el: "#cart",
        data: {
            productList: [],
            cartList:[],
            totalPrice:0
        },
        computed: {},
        methods: {
            addCart:function(product){
                var index=this.cartList.indexOf(product);
                if(index!=-1){
                    his.cartList.push(elem);
                }else{
                    this.cartList.splice(index,1)
                }
                this.countTotalPrice();
            },
            countTotalPrice:function(){
                var _this=this;
                this.totalPrice = 0;

                this.cartList.forEach(function(product,index){
                    _this.totalPrice+=product.productPrice*product.productQuentity;
                })
            },

            minusProduct:function(product){
                product.productQuentity++;
                this.countTotalPrice();
            },
            addProduct:function(product){
                if(product.productQuentity<=1){
                    product.productQuentity=1;
                }else
                product.productQuentity--;
                this.countTotalPrice();

            }
        },

        mounted: function () {

            var _this = this;
            this.$nextTick(function(){
                axios.get('cart.json').then(function (res) {
                    _this.productList = res.data.result.productList;
                })
            })

        }
    });

</script>
</body>
</html>