*{padding:0;
    margin:0;
}
#header{
    height:1.02rem;
    width:100%;
    background-color:#06c1ae;
    display:-webkit-box;
    color:#fff;
    border-bottom:1px solid #21897d;
    line-height:1.02rem;
    position:fixed;
    z-index:1;
}
#left{
    width:1.2rem;
}
#left img{
    width:0.45rem;
    height:0.45rem;
    margin-top:0.3rem;
}
#collect{
    color:#fff;
    width:1.4rem;

}
#group{
    -webkit-box-flex:1;
    text-align:center;
    color:#fff;
    font-size:0.36rem;
    text-shadow:none;
    font-weight: normal;
}
#banner{
    width:100%;
    height:4.5rem;
    background:url(../img/banner-xianyuxian.jpg) no-repeat center;
    margin-top:1.02rem;
    background-size:cover;
    position:relative;
}
.ui-content{
    padding:0;
}
.product-name{
    color:#fff;
    position:absolute;
    bottom:0.3rem;
    left:0.2rem;
}
.product-name p{
    text-shadow:none;
}
.product-name p:first-child{
    font-size:0.4rem;
    font-weight:bolder;
    margin-bottom:0.1rem;
}
#price{
    background: #fff;
    padding:0.2rem;
    border-bottom: 1px solid #ddd;
}
#price .preferential-price{
    color: #06c1ae;
    font-weight:bolder;
}
#price .preferential-price span{
    font-size:0.66rem;
}
#price button.buy{
    background: #ff9900;
    width:2.52rem;
    height: 0.8rem;
    color:#fff;
    border:0;
    outline:none;
    border-radius:0.1rem;
    font-size:0.4rem;
    float:right;
}
#explain{
    background: #fff;
    padding:0.3rem 0.2rem;
    margin-bottom:0.3rem;
    height:0.65rem;
}
#explain span{
    float:left;
}
#explain .refund{
    background-repeat:no-repeat;
    background-position:left center ;
    background-size:0.4rem 0.4rem ;
    padding-left: 0.5rem;
}
#explain span:nth-child(1){
    background-image: url(../img/refund.png);
    color:#6dbe03;
}
#explain span:nth-child(2){
    background-image: url(../img/right.png);
    color: #6dbe03;
    margin-left: 0.8rem;
}
#explain span:last-child{
    background-image: url(../img/sold.png);
    padding-left: 0.5rem;
    margin-top: 0.15rem;
    margin-bottom:0.15rem;
    color:#666;
}
#evaluate-type{
    margin:0.3rem 0;
    padding:0.28rem 0.2rem;
    background:#fff;
}
#star{
    padding-bottom:0.25rem;
    border-bottom:1px solid #ddd;
}
#star img{
    width:0.32rem;
    height:0.32rem;
}
#star .score{
    color:#ff9712;
}
#star .evaluate-num{
    float:right;
    margin-right:0.2rem;
    color:#666;
}
#type{
    background: #fff;
    height:2.7rem;
}
#type span{
    float:left;
    padding:0.1rem;
    color:#999;
    border:1px solid #999;
    margin-top:0.2rem;
    margin-right:0.2rem;
    border-radius:0.1rem;
}
#type span.hot{
    color:#ff9712;
    border:1px solid #ff9712;
}
#inform{
    background: #fff;
    padding:0.2rem 0.3rem;
}
.ui-content h3{
    padding-bottom:0.3rem;
    border-bottom:1px solid #eee;
    padding-top:0.2rem;
}
#inform p{
    color:#eb8706;
    border-top:1px solid #ccc;
    padding-top:0.3rem;
}
#merchant{
    background: #fff;
    padding:0rem 0.3rem;
}
#merchant .info{
    border-bottom:1px solid #ccc;
    padding-bottom:0.2rem;
}
#merchant .contact{
    padding: 0.2rem 0;
    display: -webkit-box;
    border-bottom: 1px solid #ccc;
}
#merchant .name{
    font-size:.32rem;
    font-weight:bolder;
}
#merchant .position{
    color:#666;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    padding:0.1rem 0;
}
#merchant .address{
    -webkit-box-flex:1;
}
#merchant .phone{
    width: 1.4rem;
    height:1.2rem;
    background: url(../img/img/phone.png)no-repeat center;
    background-size: 0.38rem;
    border-left:1px solid #ccc;
}
#merchant .nearest{
    background: url(../img/img/position.png) no-repeat left center;
    background-size: 0.28rem 0.28rem;
    padding-left: 0.4rem;
    color: #EB8706;
}
.check{
    color: #06c1ae;
    padding: 0.2rem 0;
    background: url(../img/img/rightarrow-blue.png) no-repeat right center;
    -webkit-background-size: 0.38rem 0.38rem;
    background-size: 0.38rem 0.38rem;
}
#combo{
    padding: 0 0.2rem;
    background:#fff;
}

#combo .discount-coupon{
    border-bottom: 1px solid #ccc;
    width: 100%;
    display: -webkit-box;
}
#combo .discount-coupon li{
    -webkit-box-flex: 1;
    border-right: 1px solid #ccc;
    padding: 0.22rem 0;
    text-indent: 0.1rem;
}
#combo .discount-coupon li:last-child{
    border-right: 0;
}
#combo .price{
    border-bottom: 1px solid #ccc;
    padding: 0.3rem 0.4rem;
}
#combo .price li{
    list-style: disc;
    margin-top: 0.1rem;
}
.ui-content>div{
    margin-bottom:0.2rem;

}
#notice{
    padding:0 0.2rem;
}
#notice h3{
    border-bottom:1px solid #ccc;
    padding:0.2rem 0;
}
#notice dt{
    color: #ff9900;
    margin-top:0.2rem;
}
#notice dd{
    margin-top:0.1rem;
    margin-left:0.1rem;
}
#notice ul{
    padding-left:0.4rem;
}
#notice li{
    list-style:disc;
    margin-top:0.1rem;
}
#evaluate{
    padding:0 0.2rem;
    margin-top:0.3rem;
    margin-bottom:1.4rem;
}
#evaluate .evaluate-title{
    height:0.7rem;
    border-bottom:1px solid #ccc;
}
#evaluate .evaluate-title .star img{
    width:0.32rem;
    height:0.32rem;
}
#evaluate h3{
    float: left;
}
#evaluate .star{
    float:right;
}
#evaluate .item{
    padding-top:0.2rem;
    border-bottom:1px solid #ccc;
}
#evaluate .item-title .header{
    width: 0.8rem;
    height:0.8rem;
    border-radius: 50%;
    overflow:hidden;
    float:left;
}
#evaluate .item-title .header img{
    width: 0.8rem;
    height:0.8rem;
}
#evaluate .item-title .desc{
    float:left;
    margin-top:0.05rem;
    margin-left:0.3rem;
}
#evaluate .item-title .name{
    font-size:0.24rem;
    color:#666;
    margin-bottom:0.05rem;
}
#evaluate .item-title .desc img{
    width:0.28rem;
    height:0.28rem;
}
#evaluate .item-title .date{
    font-size:0.24rem;
    margin-left:0.2rem;
}
#evaluate .item-content{
    clear:both;
    line-height:1.5;
    padding-top:0.2rem;
}
#evaluate .item-img{
    margin:0.2rem 0;
}
#evaluate .item-img img{
    width:1.1rem;
    height:1.1rem;
    float:left;
    margin-right:0.1rem;
}
#evaluate .earnest{
    width:1rem;
    height:1rem;
    float:right;
}
